<div>
  <mat-card
    *ngFor="let proy of (proysData | async); let i = index"
    class="kid"
    >
    <mat-card-header>
      <!-- <div mat-card-avatar><mat-icon>person</mat-icon></div> -->
      <mat-card-title>
        
        <mat-icon >folder_open</mat-icon> {{ proy.name }}
        
      </mat-card-title>
      <mat-card-subtitle>{{ proy.created }}</mat-card-subtitle>
      <div fxFlex></div>
      <button mat-button (click)="alerta('hacer algo')"> <mat-icon>beenhere</mat-icon></button>
      <button mat-button color="primary" (click)="openProyectoDialog(i, proy)" ><mat-icon>edit</mat-icon></button>
     <button mat-button (click)="deleteItem(i, proy._id)"><mat-icon>delete</mat-icon></button>
      </mat-card-header>
    <hr>
  </mat-card>
  </div>
