<h2 style="text-align: center;">Proyecto - {{proyecto.name}}</h2>
<h3 style="text-align: center;">Archivos: {{proyecto.total}}</h3>

<div class="container" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
    <img src="assets/upload_cloud.png" alt="">
    <h3>Arrastre y suelte archivos aquí</h3>
</div>

<div class="files-list">
<div class="single-file">
    <div class="info">
        <app-progress [progress]="proyecto?.progress"></app-progress>
    </div>
    <button mat-button (click)="cancel()">
        Cancelar<mat-icon>cancel</mat-icon>
    </button>
</div>
</div>